
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Resume
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="text-dark">My Resume</ion-title>
    </ion-toolbar>
  </ion-header>

  
    <ion-card>
      <ion-card-header>
        <div class="row">
          <div class="col text-center">
            <img class="rounded-circle" src="assets/aris.png" alt="angularJS">
            <h4 class="text-light">Aristotle Buenaventura</h4>
            <ion-card-subtitle class="mt-3 mb-1">Junior Program Developer</ion-card-subtitle>
          </div>
        </div>
      </ion-card-header>
    </ion-card>

    

      <ion-card-header>
        <div class="row text-dark scroll-content">
          <div class="col">
            <p class="h3 fw-bold">Profile</p>
            <p class="ms-3">Detail-oriented Junior Program Developer offering excellent analytical skills and the important ability to function well both independently and in fast-paced team environments.</p>
          </div>
        </div>
        <div class="row text-dark scroll-content">
          <div class="col">
            <p class="h3 fw-bold">Education</p>
            <p class="ms-3">Bachelor of Science in Information Technology</p>
          </div>
        </div>
        <div class="row text-dark scroll-content">
          <div class="col">
            <p class="h3 fw-bold">Skills</p>
            <p class="ms-3 fw-bold">Languages</p>
            <div class="row">
              <div class="col">
                <p class="ms-3">English</p>
                <p class="ms-3">Filipino</p>
              </div>
              <div class="col">
                <p class="ms-3 text-danger">Full</p>
                <p class="ms-3 text-danger">Native</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-dark scroll-content">
          <div class="col">
            <p class="ms-3 fw-bold">Software Skills</p>
            <div class="row">
              <div class="col">
                <p class="ms-3">MS Office</p>
              </div>
              <div class="col">
                <div class="progress">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="ms-3">Github</p>
              </div>
              <div class="col">
                <div class="progress">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="ms-3">C++</p>
              </div>
              <div class="col">
                <div class="progress">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 85%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="ms-3">Java</p>
              </div>
              <div class="col">
                <div class="progress">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="ms-3">JavaScript</p>
              </div>
              <div class="col">
                <div class="progress">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 88%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="ms-3">Python</p>
              </div>
              <div class="col">
                <div class="progress">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-dark scroll-content">
          <div class="col">
            <p class="ms-3 fw-bold">Soft Skills</p>
            <div class="row">
              <div class="col">
                <p class="ms-3">Analytical Skills</p>
              </div>
              <div class="col">
                <div class="progress">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="ms-3">Communication</p>
              </div>
              <div class="col">
                <div class="progress">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="ms-3">Multitasking</p>
              </div>
              <div class="col">
                <div class="progress">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="ms-3">Problem-solving</p>
              </div>
              <div class="col">
                <div class="progress">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="ms-3">Teamwork</p>
              </div>
              <div class="col">
                <div class="progress">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="ms-3">Time Management</p>
              </div>
              <div class="col">
                <div class="progress">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-card-header>


  
